<template name="images">

  {{#ionView}}
  {{#ionContent}}

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="gallery" text=""}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
   <h1 class="title">Details</h1>
  {{/contentFor}}

  <div class="item-image">
      <img src="{{image}}">
  </div>

  <div class="card">
  <div class="item item-text-wrap">
    {{formatTime createdAt}}
  </div>

  <button class="button button-clear pull-right button-positive" data-action="share-image" data-product-id="{{image._id}}">
    {{> ionIcon icon='ios-upload-outline'}}
  </button>

  </div>


    {{/ionContent}}
  {{/ionView}}
</template>
