<template name="layout">

  {{#ionBody}}
    {{> ionNavBar}}

    {{#ionNavView}}
      {{> yield}}
    {{/ionNavView}}

  {{/ionBody}}


{{!-- Not logged in --}}

  {{!-- {{else}}

  {{#ionBody}}
    {{>ionNavBar}}

      {{#contentFor "headerTitle"}}
        <h1 class="title">Pic Stream</h1>
      {{/contentFor}}

      {{#contentFor "headerButtonLeft"}}
      {{/contentFor}}

      {{#contentFor "headerButtonRight"}}
      {{/contentFor}}

    {{#ionContent}}

    <h4>Show sign in / up splash page here</h4>

      {{> atForm}}

      {{/ionContent}}
    {{/ionBody}}

  {{ /if }}
 --}}

</template>
