<template name="layout">

  {{#ionBody}}

    {{#ionSideMenuContainer side="left"}}
      {{#ionSideMenu}}

          <div class="bar bar-header bar-stable">
            <h1 class="title">{{> ionIcon icon="ios-gear-outline"}} PhotoStreams</h1>
          </div>

          <div class="content has-header">
            <div class="list">

              <div class="item item-icon-right" data-ion-menu-close>
                {{> atNavButton}} {{> ionIcon icon="ios-arrow-right"}}
              </div>

              <li class="item item-checkbox">
                <label class="checkbox">
                  <input type="checkbox">
                </label>
                Camera Roll
              </li>

            </div>
          </div>
        {{/ionSideMenu}}
      {{#ionSideMenuContent}}

        {{> ionNavBar class="bar-dark"}}

        {{#ionNavView}}
          {{> yield}}
        {{/ionNavView}}

      {{/ionSideMenuContent}}

    {{/ionSideMenuContainer}}

  {{/ionBody}}
</template>
