<template name="main">

  {{#contentFor "headerTitle"}}
    <h1 class="title">Photo Stream</h1>
  {{/contentFor}}

  {{#if currentUser}}
    {{#contentFor "headerTitle"}}
      <h1 class="title">{{name}}'s Stream</h1>
    {{/contentFor}}

    {{#contentFor "headerButtonRight"}}
      {{> logoutButton}}
    {{/contentFor}}

    {{#contentFor "headerButtonLeft"}}
      {{> cameraButton}}
    {{/contentFor}}

    {{#ionView}}
    {{#ionContent}}

        {{> gallery}}
        {{> profile}}

    {{/ionContent}}
    {{/ionView}}

  {{ else }}
    {{#contentFor "headerButtonRight"}}
      {{> loginButton}}
    {{/contentFor}}

    {{#ionView}}
    {{#ionContent}}
      {{> atForm}}
    {{/ionContent}}
    {{/ionView}}

  {{/if}}


</template>
