
<template name="main">

  {{#if currentUser}}

    {{#contentFor "headerButtonLeft"}}
      {{> cameraButton}}
    {{/contentFor}}

    {{#contentFor "headerButtonRight"}}
      {{> atNavButton}}
    {{/contentFor}}

    {{#contentFor "headerTitle"}}
      <h1 class="title">{{name}}'s Stream</h1>
    {{/contentFor}}

    {{#ionView}}
        {{> gallery}}
    {{/ionView}}

  {{else}}

    {{#contentFor "headerTitle"}}
    <h1 class="title">PictureStream</h1>
    {{/contentFor}}

    {{#contentFor "headerButtonLeft"}}

    {{/contentFor}}

    {{#contentFor "headerButtonRight"}}

    {{/contentFor}}

    {{#ionView}}
    {{#ionContent}}

      <h2>Not Logged In ?</h2>

      <div class="padding">
        <button class="button button-positive button-block" data-ion-modal="signIn">Login or SignUp</button>
      </div>


    {{/ionContent}}
    {{/ionView}}

  {{/if}}

</template>
