
<template name="gallery">
  <div id="gallery">

  {{#ionContent}}
    {{#ionList class="my-class"}}
      {{#each showPictures}}
        {{>image}}
      {{/each}}
    {{/ionList}}
  {{/ionContent}}

  </div>
</template>

<template name="image">

  {{#ionItem buttonRight=true}}
  {{!-- {{#ionItem buttonRight=true}} --}}
  <a href="{{img}}" target="_blank" class="img positive">{{img}}</a>
  <button class="button button-positive">
        {{> ionIcon icon="ios-telephone"}}
      </button>
  {{!-- <a><img class="img" src="{{image}}" /></a> --}}
  {{/ionItem}}
</template>
